[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
django = "*"
djangorestframework = "*"
mysqlclient = "*"
pillow = "*"
drf-yasg = "*"
django-crequest = "*"
django-allauth = "==0.44.0"
requests-mock = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
